*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}
/* burger-button */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3ot2jt');
  src:  url('../fonts/icomoon.eot?3ot2jt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3ot2jt') format('truetype'),
    url('../fonts/icomoon.woff?3ot2jt') format('woff'),
    url('../fonts/icomoon.svg?3ot2jt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

.icon-menu:before {
  content: "\e9bd";
}
/*Header*/
header{
  display: flex;
    flex-wrap: wrap;

}
nav{
    display: inline-flex;
    position: absolute;
    left: 238px;
    top: 136px;
    z-index: 2;
}
li,a,button{
    font-family: Monserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf8f1;
    text-decoration: none;
}
.logo{
  display: block;
cursor: pointer;
width: 270px;
height: 220px;
margin-right: 9px;
  animation-name: logo;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-direction: alternate ;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes logo{
  0% {
 opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.logo:hover{
  animation-play-state: paused;
}
.nav_links{
    list-style: none;
    grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.nav_links li {
display: inline-block;
padding:  0px 20px;


}
.nav_links li a{
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: black;
    font-size: 25px;
    
}
.nav_links li a:hover{
    color: #0088a9;
}
button{
    padding:  9px 25px;
    background-color: #f2b5d4;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 25px;
    justify-content: space-between;
    margin-top: -8px;
    margin-left: 18px;
    
}
button:hover{
    background-color: rgba(245, 86, 192, 0.8);
}
/* main */
.image-header{
  width: 1274px;
  height: 300px;
  background-image: url(/Img/header.png);
  background-size: cover;
  background-position: center;
  align-items: flex-end;
  display: inline-flex;

}

.button1{
  position: absolute;
}
.button2{
    position: absolute;
    right: 30px;

}
/* about-us */
h1{
  padding: 15px;
    text-align: center;
    text-shadow:  0px 0px 2px black;
    text-decoration: underline;
}
h2 strong{
  color: #ee2a8c;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;;
}
/* box */
.box{
   display: inline-table;
   padding: 25px 5px 0;
   
}
    
.box-icon{
    text-align: center;
    position: absolute;
   top: 822px;
    z-index: 3;
    padding-top: 3px;
    margin-left: 139px;
    width: 101px;
     height: 97px;
  }
  .title{
    font-size: 35px;
    position: absolute;
        top: 932px;
        padding-left: 121px;
  }
  .title a:hover{
    color: rgba(245, 86, 192, 0.8);
    text-shadow:  0px 0px 2px white;
  }
  /* footer */
  footer { 
	width: 100%;
    height: 50px;
margin-top: 25px;
	display: flex;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	font-size: 20px;
	background-color: rgb(51, 51, 51);  
}
footer ul {
	margin: 10px;
	list-style: none;
	display: flex;
    padding-left: 0;
    position: absolute;
    text-decoration: none;
}
footer .footer-left {
	justify-self: left;
}
footer .footer-right {
    
    justify-self: right;
    
}
footer ul li a {
    padding-left: 30px;
    color: whitesmoke;
    background-color: rgb(51, 51, 51);
    text-decoration: none;
    text-shadow:  0px 0px 2px white;
}
 .burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, .8);
    display: block;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
    display: none;
 }
/* responsive */
@media screen and (max-width: 1024px){
 .container{
  padding: 0 1em;
}
/* header */
header{
    height: auto;
  position: relative;
  padding: 2em;
}
nav{
    display: inline-flex;
    position: absolute;
    left: 238px;
    top: -92px;
    z-index: 2;
}
li,a,button{
    font-family: Monserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf8f1;
    text-decoration: none;
}
.logo{
  display: block;
cursor: pointer;
width: 270px;
height: 220px;
margin-right: 9px;
}
.nav_links{
    list-style: none;
    grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.nav_links li {
display: inline-block;
padding:  0px 20px;


}
.nav_links li a{
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: black;
    font-size: 25px;
    
}
.nav_links li a:hover{
    color: #0088a9;
}
button{
    padding:  9px 25px;
    background-color: #f2b5d4;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 25px;
    justify-content: space-between;
    margin-top: -8px;
    margin-left: 18px;
    
}
button:hover{
    background-color: rgba(245, 86, 192, 0.8);
}
/* main */
.box{
   display: inline-table;
   padding: 25px 5px 0;
   flex-wrap: wrap;
   
}
    
.box-icon{
    text-align: center;
    position: absolute;
   top: 822px;
    z-index: 3;
    padding-top: 3px;
    margin-left: 139px;
    width: 50px;
     height: 47px;
  }
  .title{
    font-size: 35px;
    position: absolute;
        top: 932px;
        padding-left: 121px;
  }
  .title a:hover{
    color: rgba(245, 86, 192, 0.8);
    text-shadow:  0px 0px 2px white;
  }
}
@media screen and (max-width: 767px){}
@media screen and (max-width: 480px){}
@media screen and (max-width: 320px){}


 .notification {
            color: black;
            width: 50px;
           font-size: 25px;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 32px;
            left: 993px;
        }

        .notification:before {
            content: "\f0f3";
            font-family: "FontAwesome";
            display: block;
            transform-origin: center top;
        }

        .notification.notify:before {
            animation-name: bell;
            animation-duration: 1s;
            animation-timing-function: ease-out;
        }

        @keyframes bell {
            0% {
                transform: rotate(35deg);
            }

            12.5% {
                transform: rotate(-30deg);
            }

            25% {
                transform: rotate(25deg);
            }

            37.5% {
                transform: rotate(-20deg);
            }

            50% {
                transform: rotate(15deg);
            }

            62.5% {
                transform: rotate(-10deg);
            }

            75% {
                transform: rotate(5deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }

        .notification:after {
            font-size: 11px;
            font-weight: bold;

            display: flex;
            align-items: center;
            justify-content: center;

            min-width: 14px;
            height: 14px;


            background: #ff4600;
            border-radius: 50%;

            font-family: Arial;
            position: absolute;

            top: 5px;
            right: 0px;
            content: attr(data-count);
            opacity: 0;
            transform: scale(.5);
            transition: .3s;
            will-change: opacity, transform;
        }

        .notification.show-count:after {
            opacity: 1;
            transform: scale(1);
        }

        .btn {
     padding:  9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 13px;
    justify-content: space-between;
    margin-top: -8px;
    margin-left: 18px;
    position: absolute;
    top: 32px;
    left: 1062px;
        }

        .btn.primary {
            background: #f2b5d4;
        }

        .btn.warning {
            background: #ff463b;
        }

        .btn:active {
            transform: scale(.9);